/* ====== VARIABLES ====== */

:root {
  --negro: #0b0b18;
  --morado: #7b2cbf;
  --fucsia: #ff4fa3;
  --blanco: #ffffff;
  --gris: #d9d9d9;
  --tarjeta: #17172a;
}

/* ====== GENERALES ====== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #0d0b1f;
  color: #ffffff;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}
.contenedor {
  width: 90%;
  max-width: 1300px;
  margin: auto;
}

/* ===== HEADER ===== */

.header {
  width: 100%;
  background: #111122;
  border-bottom: 2px solid var(--morado);
}

.encabezado {
  height: 80px;

  display: flex;

  justify-content: space-between;

  align-items: center;
}

.logo img {
  width: 270px;
}

.navegacion-principal {
  display: flex;
  gap: 20px;
}
.navegacion-principal a {
  color: white;

  text-decoration: none;

  padding: 1rem 1.8rem;

  border-bottom: 3px solid transparent;

  transition: 0.3s;
}

.navegacion-principal a:hover {
  color: #ff4db8;

  border-bottom: 3px solid #ff4db8;
}
/* Página activa */

.navegacion-principal a.activo {
  color: #ff4db8;

  border-bottom: 3px solid #ff4db8;
}

/*========== HERO ==========*/

.hero {
  background-image:
    linear-gradient(rgba(11, 11, 24, 0.7), rgba(11, 11, 24, 0.7)),
    url("../imagenes/hero.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 55vh;

  display: flex;
  align-items: center;
}
.hero-contenido {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.bienvenida {
  color: var(--Fucsia);
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.hero h2 {
  font-size: 4rem;
  line-height: 1.2;
  color: white;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
}

.descripcion {
  width: 100%;
  max-width: 700px;
  margin: 0 auto 30px;
  font-size: 1.3rem;
  line-height: 1.7;
}

/*==========================================
            HERO REDES
==========================================*/

.hero-redes {
  background-image:
    linear-gradient(rgba(11, 11, 24, 0.7), rgba(11, 11, 24, 0.7)),
    url("../imagenes/redes.jpeg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 50vh;

  display: flex;
  align-items: center;
}

.hero-redes .hero-contenido {
  max-width: 800px;
}

.hero-redes .bienvenida {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.hero-redes h2 {
  font-size: 4rem;
  line-height: 1.2;
  color: white;
  margin-bottom: 2rem;
  text-transform: uppercase;

  text-shadow:
    0 0 10px rgba(255, 77, 184, 0.35),
    0 0 25px rgba(0, 0, 0, 0.6);
}

.hero-redes h2 span {
  color: #ff4db8;
}

.hero-redes .descripcion {
  width: 100%;
  max-width: 700px;

  font-size: 2rem;
  color: #e5e5e5;

  line-height: 1.8;

  margin-bottom: 3rem;
}

/*==========================================
              BOTONES
==========================================*/

.botones {
  display: flex;

  gap: 2rem;
}

.btn {
  display: inline-block;

  padding: 1.5rem 3.5rem;

  background: #ff4db8;

  color: white;

  text-decoration: none;

  font-size: 1.8rem;

  font-weight: 600;

  border-radius: 1rem;

  transition: 0.35s;
}

.btn:hover {
  background: #ff2ca2;

  transform: translateY(-5px);

  box-shadow: 0 10px 25px rgba(255, 77, 184, 0.4);
}

.btn-secundario {
  display: inline-block;

  padding: 1.5rem 3.5rem;

  border: 2px solid #ff4db8;

  color: #ffffff;

  text-decoration: none;

  font-size: 1.8rem;

  font-weight: 600;

  border-radius: 1rem;

  transition: 0.35s;
}

.btn-secundario:hover {
  background: #ff4db8;

  color: white;

  transform: translateY(-5px);
}

/*==========================================
            TARJETAS
==========================================*/

.tarjetas-redes {
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 3rem;
}

.tarjeta-red {
  background: #17142d;

  border: 1px solid #6b2ca5;

  border-radius: 1.5rem;

  padding: 3rem;

  text-align: center;

  cursor: pointer;

  transition: 0.35s;
}

.tarjeta-red:hover {
  transform: translateY(-10px);

  background: #211b3f;

  border-color: #ff4db8;

  box-shadow: 0 15px 35px rgba(255, 77, 184, 0.35);
}

.tarjeta-red i {
  font-size: 4.5rem;

  color: #ff4db8;

  margin-bottom: 2rem;

  transition: 0.35s;
}

.tarjeta-red:hover i {
  transform: scale(1.2);

  color: white;
}

.tarjeta-red h3 {
  font-size: 2.4rem;

  color: white;

  margin-bottom: 1.5rem;

  transition: 0.35s;
}

.tarjeta-red:hover h3 {
  color: #ff4db8;
}

.tarjeta-red p {
  font-size: 1.7rem;

  color: #d8d8d8;

  line-height: 1.7;
}

/*==========================================
          RESPONSIVE
==========================================*/

@media (max-width: 768px) {
  .hero-redes h2 {
    font-size: 4rem;
  }

  .hero-redes .descripcion {
    font-size: 1.7rem;
  }

  .tarjetas-redes {
    grid-template-columns: 1fr;
  }

  .botones {
    flex-direction: column;
  }
}
/*==========================================
            HERO CIBERSEGURIDAD
==========================================*/

.hero-ciber {
  background-image:
    linear-gradient(rgba(11, 11, 24, 0.7), rgba(11, 11, 24, 0.7)),
    url("../imagenes/ciberseguridad.jpeg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 50vh;

  display: flex;
  align-items: center;
}

.hero-ciber .hero-contenido {
  max-width: 700px;
}

.hero-ciber h2 {
  font-size: 6rem;

  color: white;

  margin-bottom: 2rem;

  text-transform: uppercase;
}

.hero-ciber h2 span {
  color: #ff4db8;
}

.hero-ciber .descripcion {
  color: #e5e5e5;

  font-size: 2rem;

  line-height: 1.8;

  margin-bottom: 3rem;
}

/*==========================================
            TARJETAS
==========================================*/

.tarjetas-ciber {
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 3rem;

  margin-bottom: 6rem;
}

.tarjeta-ciber {
  background: #17142d;

  border: 1px solid #6b2ca5;

  border-radius: 1.5rem;

  padding: 3rem;

  text-align: center;

  transition: 0.35s;

  cursor: pointer;
}

.tarjeta-ciber:hover {
  transform: translateY(-10px);

  background: #211b3f;

  border-color: #ff4db8;

  box-shadow: 0 15px 35px rgba(255, 77, 184, 0.35);
}

.tarjeta-ciber i {
  font-size: 4.5rem;

  color: #ff4db8;

  margin-bottom: 2rem;
}

.tarjeta-ciber h3 {
  color: white;

  font-size: 2.4rem;

  margin-bottom: 1.5rem;
}

.tarjeta-ciber p {
  color: #d8d8d8;

  font-size: 1.7rem;

  line-height: 1.7;
}

/*==========================================
        HERO CONTACTO
==========================================*/

.hero-contacto {
  background-image:
    linear-gradient(rgba(11, 11, 24, 0.75), rgba(11, 11, 24, 0.75)),
    url("../imagenes/contactosjpeg.jpeg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 50vh;

  display: flex;
  align-items: center;
}

.hero-contenido {
  max-width: 700px;

  margin: auto;

  text-align: center;
}

.hero-contacto h2 {
  font-size: 6rem;

  color: white;

  margin-bottom: 2rem;
}

.hero-contacto h2 span {
  color: #ff4db8;
}

.hero-contacto .descripcion {
  color: #e5e5e5;

  font-size: 2rem;

  line-height: 1.8;
}
/*==========================================
            CONTACTO
==========================================*/

.contacto {
  display: grid;

  grid-template-columns: 1fr 1fr;

  gap: 6rem;

  align-items: center;

  padding: 3rem 0;
}

.informacion {
  background: #17142d;

  border: 1px solid #6b2ca5;

  border-radius: 18px;

  padding: 4rem;

  height: 100%;
}

.informacion h2 {
  color: #ff4db8;

  margin-bottom: 3rem;

  font-size: 3.5rem;
}

.informacion p {
  color: white;

  font-size: 1.8rem;

  margin-bottom: 2rem;
}

.informacion i {
  color: #ff4db8;

  margin-right: 1rem;
}
/*==========================================
            FORMULARIO
==========================================*/

.formulario {
  display: flex;

  flex-direction: column;

  gap: 2rem;

  justify-content: center;
}

.formulario input,
.formulario textarea {
  width: 100%;

  padding: 1.6rem;

  border: none;

  border-radius: 1rem;

  background: #17142d;

  color: white;

  font-size: 1.7rem;

  border: 1px solid #6b2ca5;

  outline: none;
}

.formulario input:focus,
.formulario textarea:focus {
  border-color: #ff4db8;

  box-shadow: 0 0 10px rgba(255, 77, 184, 0.3);
}

.formulario textarea {
  resize: none;
}

.formulario .btn {
  width: 100%;

  max-width: 250px;
}
@media (max-width: 768px) {
  .contacto {
    grid-template-columns: 1fr;
  }

  .hero-contacto h2 {
    font-size: 4rem;
  }

  .hero-contenido {
    text-align: center;
  }

  .formulario .btn {
    max-width: 100%;
  }
}

/* ==========================================
   TIPOGRAFÍA
========================================== */

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 1.8rem;
}

h1,
h2,
h3 {
  text-align: center;
}

/* ==========================================
   CLASES UTILITARIAS
========================================== */

/*
Limita el ancho del contenido y lo centra.
*/

.contenedor {
  max-width: 800rem;
  margin: 0 auto;
}

.botones {
  display: inline-block;
  padding: 15px 35px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}
.btn,
.btn-secundario {
  display: inline-block;
  padding: 15px 35px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.btn {
  border: 2px solid #ff4fa3;
  color: white;
}

.btn:hover {
  background: #ff6cb7;
}

.btn-secundario {
  border: 2px solid #ff4fa3;
  color: white;
}

.btn-secundario:hover {
  background: #ff4fa3;
}

@media (min-width: 768px) {
  .boton {
    width: auto;
  }
}
/*
Agrega fondo, bordes redondeados y sombra
al contenido principal.
*/
.sombra {
  padding: 2rem;

  background-color: var(--Blanco);

  border-radius: 1rem;

  box-shadow: 0 5px 15px rgba(112, 112, 112, 0.48);
}

/* ==========================================
   BARRA DE NAVEGACIÓN
========================================== */

.nav-bg {
  height: 55px;
  padding: 0;
}

.navegacion-principal a {
  font-size: 15px;
}

.navegacion-principal a {
  display: block;
  padding: 1rem;

  color: var(--Blanco);

  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.navegacion-principal a:hover,
.navegacion-principal a.activo {
  background-color: var(--VerdeMenta);
  color: var(--GrisOscuro);
}

/*
En pantallas medianas y grandes,
los enlaces se muestran horizontalmente.
*/

@media (min-width: 768px) {
  .navegacion-principal {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

/*==========================================
        BOTÓN DE MODO OSCURO
==========================================*/

/* 
   Por ahora el botón solo tiene diseño.
   Más adelante se le agregará la funcionalidad
   con JavaScript.
*/

.btn-modo {
  padding: 1rem 1.5rem;
  background-color: var(--Fucsia);
  color: var(--Blanco);
  border: none;
  border-radius: 0.8rem;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-modo:hover {
  background-color: var(--Morado);
  transform: scale(1.05);
}
.contenido-hero {
  width: 100%;
  height: 100%;

  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.4);
}
.contenido-hero h2,
.contenido-hero p {
  color: var(--Blanco);
}

/*========== FOOTER ==========*/

.footer {
  background: #111122;

  border-top: 2px solid var(--morado);

  text-align: center;

  padding: 15px 0;
}
.footer {
  margin-top: auto;
}
.footer-contenido h3 {
  color: var(--fucsia);

  font-size: 22px;

  margin-bottom: 10px;
}

.footer-contenido p {
  color: var(--gris);

  font-size: 15px;

  margin: 5px;
}

.footer-copy {
  margin-top: 15px;

  padding-top: 10px;

  border-top: 1px solid rgba(255, 255, 255, 0.1);

  color: #bfbfbf;

  font-size: 13px;
}
/*========== REDES SOCIALES ==========*/

.redes-sociales {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.redes-sociales a {
  font-size: 32px;
  transition: all 0.3s ease;
}

.redes-sociales a:hover {
  transform: translateY(-5px) scale(1.15);
}

/* Colores oficiales */

.redes-sociales .fa-whatsapp {
  color: #f022cd;
}

.redes-sociales .fa-instagram {
  color: #f022cd;
}

.redes-sociales .fa-facebook {
  color: #f022cd;
}

.redes-sociales a:hover {
  transform: scale(1.2);
}
/* LinkedIn */
.redes-sociales .fa-linkedin {
  color: #f022cd;
}

/* GitHub */
.redes-sociales .fa-github {
  color: #f022cd;
}
/*==========================================
        TARJETAS DEL INICIO
==========================================*/

.caracteristicas {
  width: 90%;
  max-width: px;

  display: flex;
  justify-content: space-between;

  gap: 25px;

  margin: -70px auto 60px;

  position: relative;
  z-index: 100;
}

.tarjeta {
  flex: 1;

  background: #17142d;

  border: 1px solid #6b2ca5;

  border-radius: 1.5rem;

  padding: 2.5rem;

  transition: 0.3s;
}

.tarjeta:hover {
  transform: translateY(-8px);

  border-color: #ff4db8;

  box-shadow: 0 0 20px rgba(255, 77, 184, 0.3);
}

.tarjeta i {
  font-size: 4rem;

  color: #ff4db8;

  margin-bottom: 2rem;
}
.card {
  padding: 15px;
  height: 100px;
}

.card h3 {
  font-size: 16px;
}

.card p {
  font-size: 13px;
}
